@charset "utf-8";

body {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: Arial;
	font-size: 1em;
	color: #222;
}

* {
	transition: all .3s ease;
}

p {
	font-size: 12px;
}

div {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: inline-block;
	width: 100%;
}

img {
	display: inline-block;
	max-width: 100%;
}

input[type=search], input[type=text] {
	box-sizing: border-box;
	width: 100%;
	padding: 4px 5px;
}

input::placeholder {
	color: #bbb
}

[class^='col-'], [class*=' col-']{
	float: left;
	width: 100%;
}

.container {
	padding: 10px 25px 70px;
}

.marma-header > .option {
	border: 1px solid #ddd;
	border-top: 0;
	cursor: pointer;
	width: 50%;
	padding: 10px 25px;
	text-align: center;
	margin-bottom: 15px;
	text-transform: uppercase;
	font-size: 22px;
	letter-spacing: -.2px;
}

.marma-header > .option:hover, .marma-header > .option.active {
	background-color: #f0f0f0;
}

.marma-header > .option.active {
	font-weight: bold;
}

.marma-search {
	width: 20%;
	padding: 0 15px 15px 0;
	border-right: 1px solid #ccc;
	float: left;
	max-width: 200px;
}

.marma-search-box {
	margin-bottom: 15px;
}

.marma-group {
	padding: 4px;
	margin-bottom: 3px;
	font-size: .7em;
}

.marma-group:hover, .marma-group.active {
	background-color: #222;
	color: #eee;
	cursor: pointer;
}

.marma-body-cont {
	display: block;
	overflow: hidden;
	width: auto;
}

.marma-body {
	float: left;
	width: 50%;
	padding: 0 0 0 2%;
}

.body-cont {
	position: relative;
}

.body-refs {
	width: 40%;
	position: absolute;
	top: 0;
	bottom: 0;
}

.body-image {
	width: 100%;
	float: right;
	position: relative;
}

.body-cont img {
	width: 100%;
	height: 100%;
}

.marma-point, .marma-point-dot {
	left: 2%;
	position: absolute;
	width: auto;
}

.marma-point {
	margin-top: -5px;
	padding-right: 5px;
}

.marma-point-dot {
	border: 4px solid red;
	width: 0px;
	border-radius: 4px;
}

.marma-point-line {
	border-color: #666 !important;
}
